<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quote Generator Dashboard</title>
    <link rel="stylesheet" href="left-panel.css">
</head>
<body>
    <div class="left-panel">
        <div class="dashboard">
            <h2>Quote Generator Dashboard</h2>
        </div>
        <nav class="navbar navbar-expand-sm navbar-dark sidebar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a routerLink="/quotes" routerLinkActive="active" class="nav-link">Random Quotes</a>
                </li>
                
                <li class="nav-item">
                    <a routerLink="/create-quoteApi" routerLinkActive="active" class="nav-link">Add Quote API</a>
                </li>
                
            </ul>
        </nav>
    </div>

    <div class="main-content">
        <router-outlet></router-outlet> 
    </div>

</body>
</html>
